.signup-plans-wrapper{
    background     :$gary-10 ;
    padding-top    :40px;
    padding-bottom :40px;

    h1{
        font-weight : $light;
        font-size   : 30px;
        color       : $black;
        padding     : 0;
        margin      :0 0 8px;
        text-align  : center;
    }

    p{
        font-weight : $light;
        font-size   : 18px;
        color       : $gary-11;
        padding     : 0;
        margin      : 0;
        text-align  : center;
    }


    .signup-plan-row{
        margin-left  : -30px;
        margin-right : -30px;
        margin-top   : 40px;

        .signup-plan-box{
            border        :1px solid $nav-color;
            border-radius :5px;
            background    :$white;

            .top{
                background-image        : url(../images/signup-plans-3.png);
                background-repeat       : repeat-x;
                background-size         : auto 100%;
                min-height              : 90px;
                border-top-left-radius  : 5px;
                border-top-right-radius : 5px;

                h3{
                    font-weight    : $thin;
                    font-size      : 32px;
                    color          : $black-1;
                    padding        : 32px 0 57px;
                    margin         : 0;
                    text-align     : center;
                    text-transform : uppercase;
                }

            }

            .mid{
                background-image    : url(../images/signup-plans-1.png);
                background-repeat   : no-repeat;
                background-size     : inherit;
                min-height          : 67px;
                position            : relative;
                top                 :-35px;
                background-position : center;
                width: 200px;
                margin: 0 auto;

                h3{
                    font-weight : $semi-bold;
                    font-size   : 30px;
                    color       : $white;
                    padding     : 17px 0;
                    margin      : 0;
                    text-align  : center;
                }

                h4{
                    font-weight : $semi-bold;
                    font-size   : 30px;
                    color       : $white;
                    padding     : 18px 0 0px;
                    margin      : 0;
                    text-align  : right;
                    span{
                        font-weight   : 100;
                        font-size     : 15px;
                        margin-top    : 0px;
                        display       : inline-block;
                        position      : relative;
                        top           : -12px;
                        font-weight   : $semi-bold;
                        padding-right : 5px;
                    }
                }

                h5{
                    font-weight : $bold;
                    font-size   : 12px;
                    color       : $gary-4;
                    padding     : 20px 0 0px;
                    margin      : 0;
                    text-align  : left;

                }


            }

            .bottom{
                .border-img{
                    margin: 4px auto 40px;
                }

                h3{
                    font-weight : $thin;
                    font-size   : 30px;
                    color       : $gary-11;
                    padding     : 0px 0 30px;
                    margin      : 0;
                    text-align  : center;
                    span{
                        font-weight : $light;
                    }
                }

                h6{
                    font-weight : $bold;
                    font-size   : 12px;
                    color       : $orange ;
                    padding     : 0px 0 0px;
                    margin      : -16px 0 38px;
                    text-align  : center;

                }

                ul{
                    margin-top: -14px;
                    li{
                        font-weight : $light;
                        font-size   : 16px;
                        color       : $gary-11;
                        padding     : 0px 0 0px;
                        margin      : 0 0 14px;
                        text-align  : center;
                        span{
                            font-weight : $bold;
                            font-size   : 16px;
                            color       : $gary-14;
                        }
                    }
                }
            }


            &:hover{
                border:1px solid $orange ;
                .top{
                    background-image  : url(../images/signup-plans-4.png);	

                    h3{
                        color: $white;
                    }				
                }

                .mid{
                    background-image  : url(../images/signup-plans-2.png);

                    h5{
                        color       : $orange-1;	
                    }
                }	
            }
        }


    }


}

/*       
        $thin      : 100;    
        $light     :300;       
        $regular   :400;       
        $semi-bold : 500;        
        $bold      : 700;
*/




