/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

/nbproject
/nbproject/private
public/resume.pdf
app/Http/Controllers/allPHPControllers.zip
resources/views/resume_builder/10-10-2016-php/
resources/views/resume_builder/node_modules/
resources/views/resume_builder/old-10-10-2016/
resources/views/resume_builder/21-10-2016/
resources/views/resume_builder/old/
resources/views/resume_builder/gulpfile.js
resources/views/resume_builder/package.json
app/Http/Controllers/ResumeBuildController-28-9-2016.php
public/dist/js/controllers/bmax/
bmax-ignore/
git-ignore/
myignore/
resume_builder/test
node_modules
public/dist/js/old
node_modules
backup-20-12-2016