
@font-face {
    font-family: 'ForzaMedium';
    src: url('../fonts/ForzaMedium.eot');
    src: url('../fonts/ForzaMedium.eot') format('embedded-opentype'),
         url('../fonts/ForzaMedium.woff2') format('woff2'),
         url('../fonts/ForzaMedium.woff') format('woff'),
         url('../fonts/ForzaMedium.ttf') format('truetype'),
         url('../fonts/ForzaMedium.svg#ForzaMedium') format('svg');
}
@font-face {
    font-family: 'ForzaBold';
    src: url('../fonts/ForzaBold.eot');
    src: url('../fonts/ForzaBold.eot') format('embedded-opentype'),
         url('../fonts/ForzaBold.woff2') format('woff2'),
         url('../fonts/ForzaBold.woff') format('woff'),
         url('../fonts/ForzaBold.ttf') format('truetype'),
         url('../fonts/ForzaBold.svg#ForzaBold') format('svg');
}































