#middle_wrapper{min-height:1200px;}

#blog_middle_wrapper{min-height:950px;}

#job_middle_wrapper{min-height:950px;}

#abt_middle_wrapper{min-height:950px;}

#con_middle_wrapper{min-height:950px;}

#footer_wrapper_right ul{width:385px !important;}

#footer_wrapper_right{margin-left:92px !important;}


