
    <section class="setup-nav">
      <div class="container">
        <div class="row">
          <ul class="clearfix">
            <li class="completed-section">
              <p>
                <img src ="../assets/images/st-1-inact.png" alt="" class="img-responsive inacitve">
                <img src ="../assets/images/st-1-act.png" alt="" class="img-responsive acitve">
                <img src ="../assets/images/done.png" alt="" class="img-responsive complte">
                <span>About you</span>
              </p>
            </li>
            <li class="completed-section">
              <p>
                <img src ="../assets/images/st-2-inact.png" alt="" class="img-responsive inacitve">
                <img src ="../assets/images/st-2-act.png" alt="" class="img-responsive acitve">
                <img src ="../assets/images/done.png" alt="" class="img-responsive complte">
                <span>Profile</span>
              </p>
            </li>
            <li class="active-step">
              <p>
                <img src ="../assets/images/st-3-inact.png" alt="" class="img-responsive inacitve">
                <img src ="../assets/images/st-3-act.png" alt="" class="img-responsive acitve">
                <img src ="../assets/images/done.png" alt="" class="img-responsive complte">
                <span>Work History</span>
              </p>
            </li>
            <li>
              <p>
                <img src ="../assets/images/st-4-inact.png" alt="" class="img-responsive inacitve">
                <img src ="../assets/images/st-4-act.png" alt="" class="img-responsive acitve">
                <img src ="../assets/images/done.png" alt="" class="img-responsive complte">
                <span>Education</span>
              </p>
            </li>
            <li>
              <p>
                <img src ="../assets/images/st-5-inact.png" alt="" class="img-responsive inacitve">
                <img src ="../assets/images/st-5-act.png" alt="" class="img-responsive acitve">
                <img src ="../assets/images/done.png" alt="" class="img-responsive complte">
                <span>Skills</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- setup-nav -->
    <section class="rb-inner-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <div class="row heading">
              <div class="left">
                <h1>Step 3</h1>
              </div>
              <div class="right">
                <h1>Work History</h1>
              </div>
            </div>
            <!-- heading -->
            <div class="row work-history-section">
              <div class="col-xs-12 work-history-box">
                <div class="work-history-complete clearfix">
                  <div class="left common">
                    <img src ="../assets/images/work-drag.png" alt="" class="img-responsive"> 
                  </div>
                  <!-- left -->
                  <div class="mid common">
                    <h4>Apple Inc. <span>Junior Interface Designer</span></h4>
                    <p>Jan 2004 - Dec 2006</p>
                  </div>
                  <!-- left -->
                  <div class="right common">
                    <img src ="../assets/images/work-delete.png" alt="" class="img-responsive">  
                  </div>
                  <!-- left -->
                </div>
                <!-- work-history-complete -->
                <div class="work-history-box-border">
                </div>
              </div>
              <div class="col-xs-12 work-history-box">
                <div class="row form-section">
                  <div class="col-xs-12">
                    <label>Company Name</label>
                    <input ng-model="company_name" type="text" class="" placeholder="Company Name">
                  </div>
                </div>
                <!-- form-section --> 
                <div class="row form-section">
                  <div class="col-xs-12 col-sm-9 col-md-8 col-lg-9">
                    <label>Position</label>
                    <input ng-model="position" type="text" class="" placeholder="Position">
                  </div>
                  <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
                    <label>Company Location</label>
                    <input ng-model="location" type="text" class="" placeholder="Location">
                  </div>
                </div>
                <!-- form-section --> 
                <div class="row form-section">
                  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label>Start Date</label>
                        <div class="row row_clr work-date">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                             <!--  <select name="" class="boder-select" >
                                <option value="CA"></option>
                                <option value="CA">Jan</option>
                              </select> -->
                              <select class="boder-select" ng-options="item as item.name for item in months track by item.id" ng-model="start_month"></select>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                              <!-- <select name="" class="last" >
                                <option value="CA"></option>
                                <option value="CA">2006</option>
                              </select> -->
                              <select class="last" ng-options="item as item.name for item in years track by item.id" ng-model="start_year"></select>
                            </div>
                          </div>
                        </div>
                        <!-- row_clr -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label>End Date</label>
                        <div class="row row_clr work-date">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                              <!-- <select name="" class="boder-select" >
                                <option value="CA"></option>
                                <option value="CA">Jan</option>
                              </select> -->
                              <select class="boder-select" ng-options="item as item.name for item in months track by item.id" ng-model="end_month"></select>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                              <!-- <select name="" class="last">
                                <option value="CA"></option>
                                <option value="CA">2006</option>
                                <option value="CA">2007</option>
                              </select> -->
                              <select class="last" ng-options="item as item.name for item in years track by item.id" ng-model="end_year"></select>

                            </div>
                          </div>
                        </div>
                        <!-- row_clr -->
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <label>&nbsp;</label>
                    <label class="working-box">
                    <input type="checkbox" value="">
                    &nbsp; Still working here
                    </label>
                  </div>
                </div>
                <!-- form-section -->  
                <div class="row form-section">
                  <div class="col-xs-12">
                    <label>Job Description</label>
                    <textarea ng-model="description" name="" id="input" class="" rows="6" placeholder="Please type..."></textarea>
                  </div>
                </div>
                <!-- form-section -->
                <div class="row form-section">
                  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pull-right">
                    <a class="add-button" href=""> <img src ="../assets/images/add-button.png" alt="" class=""> ADD</a>
                  </div>
                </div>
                <!-- form-section -->
                <div class="work-history-box-border">
                </div>
              </div>
            </div>
            <!-- form-section -->
            <div class="row form-section">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <a class="back-button" href="#/step2">Back</a>   
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <a class="next-button" href="#/step4">Next</a>   
                  </div>
                </div>
              </div>
            </div>
            <!-- form-section -->
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 preview-section">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 preview-wrapper">
                <img src ="../assets/images/doc-1.png" alt="" class="img-responsive logo-image">
              </div>
              <!-- preview-wrapper -->
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 preview-button">
                <h6>
                  <img src ="../assets/images/preview-button.png" alt="" class="img-responsive logo-image">
                </h6>
              </div>
              <!-- preview-wrapper -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- rb-inner-wrapper -->
  