/* Fonts Style */
$font-museo-sans     : 'museo-sans', sans-serif;

/* font weight */

$thin      : 100;

$light     :300;

$regular   :400;

$semi-bold : 500;

$bold      : 700;

/* colours */

$gary     : #8495a3;

$gary-1   : #dbe0e0;

$gary-2   : #8595a5;

$gary-3   : #dae0e6;

$gary-4   :#a3acb4;

$gary-5   : #dcdcdc;

$gary-6   : #e4e4e4;

$gary-7   : #7f7f7f;

$gary-8   : #fafafb;

$gary-9   : #e5e7eb;

$gary-10  : #edf0f2;

$gary-11  : #5b6a76;

$gary-12  : #dee1e3;

$gary-13  : #eff1f3;

$gary-14  :#36424b;

$gary-15  :#42454a;

$gary-16  :#e8eeef;

$gary-17  : #2b3743;

$gary-18  : #394856;

$gary-19  : #535d65;

$gary-20  : #25313c;

$gary-21  : #302f32;

$orange   : #ff7200;

$orange-1 :#632e00;

$white    : #fff;

$black    : #000;

$black-1  : #1b2630;

$blue     : #1c7cf1;

$blue-1   :#1b2630;

$blue-2   : #1371e5;


/*    */

$nav-color         :$gary-1 ;

$step-font-color   : $gary-2;

$step-active-color : $white;




// Colors
$hfs: 16;
$clr-main: $orange;
$clr-gray: $orange;
$clr-yellow: $orange;



